.pokedex {
  &__moves {
    @include shadowRadiusPadding;
    @include flexColumn;
    grid-column: boxTwoStart / boxTwoEnd;
    grid-row: 2 / 3;

    @include responsive(tab-port) {
      grid-column: boxOneStart / BoxTwoEnd;
      grid-row: 4 / 5;
    }
  }

  &__moveset {
    @include flexColumn;
    justify-content: space-between;
    height: 100%;
    list-style: none;
    margin-top: var(--margin-xs);
    padding: 0 1.1rem;
    font-size: var(--font-size-s);

    @include responsive(pho-small) {
      font-size: var(--font-size-xs);
    }
  }

  &__move {
    display: flex;

    &--name {
      flex: 0 0 40%;
    }

    &--type {
      flex: 0 0 20%;
    }

    &--dmgType {
      flex: 0 0 20%;
    }

    &--power {
      flex: 0 0 20%;
    }

    &:not(:last-child) {
      margin-bottom: var(--margin-s);
    }
  }
}
