.pokedex {
  &__description {
    @include flexColumn;
    @include shadowRadiusPadding;

    grid-column: boxTwoStart / boxTwoEnd;
    grid-row: 1 / 2;
    justify-content: space-between;

    @include responsive(tab-port) {
      grid-column: boxOneStart / BoxTwoEnd;
      grid-row: 3 / 4;
    }
  }

  &__forms {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  &__alternative {
    @include paddingRadiusBorderCenter;
    margin-top: var(--margin-xs);
  }
}
