.pokedex {
  &__pokemon {
    @include shadowRadiusPadding;
    padding: var(--padding-s) var(--padding-l);
    display: flex;
    position: relative;
    grid-column: boxOneStart / boxOneEnd;
    grid-row: 1 / 2;

    @include responsive(tab-port) {
      grid-column: boxOneStart / BoxTwoEnd;
      grid-row: 1 / 2;
      flex-direction: column;
    }
  }

  // Sprite and pokemon IMG
  &__sprite {
    flex: 0 0 35%;
    align-self: center;
    justify-self: center;

    @include responsive(tab-land) {
      @include flexColumn;
      justify-content: center;
      flex: 0 0 37.5%;
    }
  }

  &__img {
    width: 100%;
  }

  &__number {
    color: var(--color-primary-dark);
    position: absolute;
    top: -20%;
    left: 2%;

    @include responsive(tab-port) {
      @include leftNRightAtZero;
      top: -6%;
      text-align: center;
    }

    @include responsive(phone) {
      top: -20%;
    }

    @include responsive(pho-small) {
      top: -15%;
    }
  }

  // Name - Type - Ability BOX
  &__info {
    @include flexColumn;
    flex: 1;
    justify-content: space-between;
  }

  // Types label

  &__types,
  &__abilities {
    text-transform: capitalize;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  // Abilities label

  &__abilities {
    font-size: var(--font-size-s);
  }

  &__ability {
    @include hoverEffect;
    outline: none;

    transition: all 0.2s;

    &:focus {
      box-shadow: 0 0 1px 2px var(--color-primary);
    }
  }
}
