.message {
  @include flexColumn;
  font-size: var(--font-size-xl);
  color: var(--color-grey-light);
  font-style: italic;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  justify-self: center;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: var(--margin-xl);
  padding: var(--padding-l);

  :not(:last-child) {
    margin-bottom: var(--margin-l);
  }

  &__img {
    width: 20rem;
  }

  &__pikachuImg {
    width: 100%;
    filter: opacity(50%);
  }

  &__instructions {
    font-size: var(--font-size-s);
  }

  &__error {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-l);
    color: var(--color-rotom-primary);
  }
}
