.popup {
  @include fontRelated;
  @include shadowRadiusPadding;
  @include flexColumn;
  color: var(--popup-font-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to top left,
    var(--color-primary),
    var(--color-primary-dark)
  );
  padding: var(--padding-l);
  max-width: 45rem;
  min-height: 10rem;
  line-height: 2.4rem;
  position: absolute;
  z-index: 500;
  transition: all 0.2s;

  @include responsive(tab-port) {
    @include leftNRightAtZero;
    margin: 0 auto;
  }

  :not(:last-child) {
    margin-bottom: var(--margin-xs);
  }

  &::before,
  &::after {
    content: '';
    background-color: var(--color-primary-dark);
    border-radius: var(--border-radius-circle);
    display: block;
    position: absolute;
    z-index: -1;
  }

  &::before {
    width: 44px;
    height: 44px;
    top: -12px;
    left: 28px;
    box-shadow: -50px 30px 0 -12px var(--color-primary-30);
  }

  &::after {
    bottom: -10px;
    right: 26px;
    width: 30px;
    height: 30px;
    box-shadow: 40px -34px 0 0 var(--color-primary-30),
      -28px -6px 0 -2px var(--color-primary-30),
      -24px 17px 0 -6px var(--color-primary),
      -5px 25px 0 -10px var(--color-primary-30);
  }

  &__name {
    text-transform: uppercase;
  }

  &__hidden {
    font-size: var(--font-size-s);
    font-style: italic;
    font-weight: var(--font-weight-s);
    text-transform: lowercase;
    margin-left: var(--margin-xs);
  }

  &__move-data {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.popup__background {
  @include leftNRightAtZero;
  height: 100vh;
  background-color: var(--color-black);
  opacity: 0.5;
  position: fixed;
  top: 0;
  z-index: 150;
}

.popup__abilities-position {
  top: 8%;
  right: 0;
  left: 53%;

  @include responsive(tab-port) {
    left: 0;
    top: 4%;
  }
}
.popup__moveset-position {
  bottom: 8%;
  left: 5%;
  right: 0;

  @include responsive(tab-port) {
    left: 0;
    bottom: 25%;
  }
}
