.form {
  @include flexHorizonCenter;
  height: 5rem;

  position: relative;
  z-index: 5;

  @include responsive(tab-port) {
    transform: translateY(-4rem);
  }
  @include responsive(phone) {
    transform: translateY(-9rem);
  }

  @include responsive(pho-small) {
    transform: translateY(-7.5rem);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    position: absolute;
  }

  &__input {
    @include fontRelated;
    width: 11rem;
    height: 4rem;

    border-radius: var(--border-radius-l);
    padding-left: 1rem;
    padding-right: 2.7rem;

    background-color: var(--color-white);
    border: 1px solid var(--color-grey-light);
    backface-visibility: hidden;
    transition: all 0.2s;

    @include responsive(phone) {
      width: 8rem;
      font-size: var(--font-size-xs);
      padding-left: 0.5rem;
      padding-right: 1.5rem;
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey-light);
    }

    &:focus {
      width: 20rem;
      padding-right: 3.5rem;
      border: 1px solid var(--color-grey-dark);

      @include responsive(phone) {
        width: 10rem;
      }
    }
  }

  &__button {
    width: 2rem;
    height: 2rem;
    background-color: var(--color-white);
    border: none;
    position: absolute;
    right: 7%;

    @include responsive(phone) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__button-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-light);

    @include responsive(phone) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
