.form {
  @include flexHorizonCenter;
  height: 5rem;
  position: relative;
  z-index: 5;

  @include responsive(tab-port) {
    transform: translateY(-4rem);
  }
  @include responsive(phone) {
    transform: translateY(-9rem);
  }

  @include responsive(pho-small) {
    transform: translateY(-7.5rem);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    position: absolute;
  }

  &__input {
    @include fontRelated;
    width: 11rem;
    height: 4rem;
    border-radius: var(--border-radius-l);
    padding-left: var(--padding-s);
    padding-right: 2.7rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey-light);
    outline: none;
    backface-visibility: hidden;
    transition: all 0.2s;

    @include responsive(phone) {
      width: 8rem;
      font-size: var(--font-size-xs);
      padding-left: var(--padding-xs);
      padding-right: var(--padding-m);
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey-light);
    }

    &:focus {
      width: 20rem;
      padding-right: 3.5rem;
      box-shadow: 0 0 1px 2px var(--color-primary);

      @include responsive(phone) {
        width: 10rem;
      }
    }
  }

  &__button,
  &__button-icon {
    width: 2rem;
    height: 2rem;

    @include responsive(phone) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__button {
    background-color: var(--color-white);
    border: none;
    outline: none;
    position: absolute;
    right: 7%;
  }

  &__button-icon {
    fill: var(--color-grey-light);
  }
}
