@keyframes blink {
  0% {
    height: var(--height);
  }
  25% {
    height: var(--height);
  }
  50% {
    height: 0;
  }
  75% {
    height: var(--height);
  }
  100% {
    height: var(--height);
  }
}

@include responsive(pho-small) {
  @keyframes blink {
    0% {
      height: var(--height-small);
    }
    25% {
      height: var(--height-small);
    }
    50% {
      height: 0;
    }
    75% {
      height: var(--height-small);
    }
    100% {
      height: var(--height-small);
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
