*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include responsive(tab-land) {
    font-size: 50%;
  }
}

.container {
  @include fontRelated;
  @include flexColumn;
  height: 100%;
  justify-content: flex-end;

  @include responsive(tab-port) {
    justify-content: unset;
  }
}

.pokedex {
  width: 100%;
  height: 50rem;

  display: grid;
  //prettier-ignore
  grid-template-columns: 
  [boxOneStart] minmax(0, 1fr) [boxOneEnd boxTwoStart] 
  minmax(0,1fr) [boxTwoEnd];
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: var(--gap-l);
  z-index: 1;
  transition: all 0.2s;

  @include responsive(tab-land) {
    height: 60rem;
    margin: var(--margin-m) 0;
  }

  @include responsive(tab-port) {
    height: 100%;
    margin: 0;
    grid-template-columns: [boxOneStart boxTwoStart] minmax(0, 1fr) [boxOneEnd boxTwoEnd];
    grid-template-rows: 1.2fr 0.8fr 0.9fr 1.1fr;
    gap: var(--gap-l) 0;
  }
}
