@mixin responsive($breakpoint) {
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 1199px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }

  @if $breakpoint == pho-small {
    @media only screen and (max-width: 349px) {
      @content;
    }
  }
}

@mixin shadowRadiusPadding {
  box-shadow: 0 2rem 6rem var(--color-primary-30);
  border-radius: var(--border-radius-l);
  padding: var(--padding-s);
}

@mixin paddingRadiusBorderCenter {
  text-align: center;
  padding: var(--padding-s);
  border-radius: var(--border-radius-m);
  border: 1px solid var(--color-primary-dark);
}

@mixin flexColum {
  display: flex;
  flex-direction: column;
}

@mixin flexHorizonCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
}

@mixin marginCenter {
  margin: 0 auto;
}

@mixin leftNRightAtZero {
  left: 0;
  right: 0;
}

@mixin dot {
  padding: 10px;
  border-radius: var(--border-radius-circle);
  border: 5px solid var(--color-rotom-primary-dark);
  background-color: var(--color-rotom-primary-light);
  box-sizing: content-box;
  position: absolute;

  @include responsive(pho-small) {
    padding: 4px;
    border: 2px solid var(--color-rotom-primary-dark);
  }
}

@mixin fontRelated {
  font-family: var(--font-primary);
  font-size: var(--font-size-m);
  font-weight: 300;
  // font-style: italic;
}
