%heading {
  font-weight: 300;
  font-size: var(--font-size-xl);
  text-align: right;

  @include responsive(pho-small) {
    font-size: var(--font-size-l);
  }
}

.heading-1,
.heading-2 {
  @extend %heading;
  text-transform: uppercase;
  font-weight: 700;
}

.heading-1 {
  margin-top: var(--margin-xs);
  color: var(--color-grey-dark);

  @include responsive(tab-port) {
    text-align: center;
  }
}

.heading-2 {
  margin-top: 0.3rem;
  margin-bottom: var(--margin-xs);
}

.heading-3 {
  @extend %heading;
  font-size: var(--font-size-s);
  text-align: center;
}
