.bold {
  font-weight: var(--font-weight-l);
}

.display-block {
  margin-top: var(--margin-xl);
  display: block;
}

.effectTitles {
  position: relative;
  display: inline;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 2%;
    height: 100%;
    width: 65%;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: linear-gradient(
      to top left,
      var(--color-primary),
      var(--color-primary-30)
    );

    @include responsive(tab-land) {
      width: 70%;
    }

    @include responsive(phone) {
      width: 82%;
    }
  }
}

.spinner {
  @include leftNRightAtZero;
  position: absolute;
  margin: 10rem auto;
  text-align: center;
  transition: all 0.2s;

  svg {
    height: 6rem;
    width: 6rem;
    fill: var(--color-rotom-primary);
    animation: rotate 2s infinite linear;
  }
}

.basicBorderStyle {
  @include paddingRadiusBorderCenter;
  text-transform: capitalize;
  list-style: none;
}

.linkReset {
  text-decoration: none;
  color: currentColor;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
