:root {
  // Rotom colors
  --color-rotom-primary: #d26757;
  --color-rotom-primary-light: #78564d;
  --color-rotom-primary-dark: #7d462a;
  --color-rotom-blue: #0026ff;
  --color-rotom-dark-blue: #0c1b71;

  // Content colors

  --color-primary: #5ec576;
  --color-primary-dark: #4bbb7d;
  --color-primary-30: #5ec5764d;
  --color-white: #f2f3f4;
  --color-grey-light: #ccc;
  --color-grey-dark: #333;
  --color-black: #000;

  // Fonts
  --font-primary: 'Roboto', sans-serif;
  --font-size-s: 1.2rem;
  --font-size-m: 1.6rem;
  --font-size-l: 2rem;
  --font-size-xl: 3rem;

  // Border radius
  --border-radius-s: 12px;
  --border-radius-m: 24px;
  --border-radius-l: 48px;
  --border-radius-circle: 50%;

  // Paddings
  --padding-s: 1rem;
}
