// Rotom Body

.rotom {
  @include marginCenter;
  max-width: 1200px;
  height: 800px;
  border: 100px solid var(--color-rotom-primary);
  border-top: 150px solid var(--color-rotom-primary);
  background-color: var(--color-white);
  position: relative;
  z-index: 10;

  @include responsive(tab-land) {
    border: 70px solid var(--color-rotom-primary);
    border-top: 150px solid var(--color-rotom-primary);
  }

  @include responsive(tab-port) {
    height: 1200px;
  }

  @include responsive(phone) {
    border: 30px solid var(--color-rotom-primary);
    border-top: 120px solid var(--color-rotom-primary);
  }

  @include responsive(pho-small) {
    border: 15px solid var(--color-rotom-primary);
    border-top: 120px solid var(--color-rotom-primary);
  }
}
